!!! 5
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  #header!= partial('header.jade')
  body!= body
  #leftsidebar!= partial('leftsidebar.jade')
  #footer!= partial('footer.jade')
